<table border="1">
    <tr>
        <td>Número de preguntas</td>
        <td>Número de comentarios totales</td>
        <td>Número de medio de comentarios por pregunta</td>
        <td>Número de preguntas sin comentarios</td>
        <td>Número de preguntas con comentarios</td>
    </tr>
    <tr>
        <td><%=  nPreguntas%></td>
        <td><%=  nComentarios%></td>
        <td><%=  nAvgComentarios%></td>
        <td><%=  nPregunstasSinComentarios%></td>
        <td><%=  nPreguntasConComentarios%></td>
    </tr>
</table>